#login-form #company-name {
    background: #fff;
    color: #1F75CC;
    border-bottom: 1px solid #1F75CC;
}

#login-form input.button,
#login-form input.button:hover,
#login-form input.button:active {
    background: #E9F4FF;
    border: 1px solid #BFD9F2;
    color: #2C7DCF;
}

#login-menu-button {
    color: #1F75CC;
}