* {
    border-radius: 0 !important;
}

body,
select,
input,
textarea,
.ui-widget,
.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
    font-size: 12px;
    font-family: "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
}