#login-form #company-name,
#login-form input.button {
    background: #0470bb;
    border: none;
}

#login-form #company-name {
    border-bottom: 5px solid #85c35b;
    padding-left: 10px;
}

#login-form .box-inner {
    padding: 0;
}

#login-form .box-inner form {
    padding: 10px;
}

#login-menu-button {
    color: #fff;
    background: #0470BB;
}

